# List

## 1. append
### Adds an element at the end of the list

In [39]:
rain = ['cloudy','rainbow','temp', 24.5]
rain

['cloudy', 'rainbow', 'temp', 24.5]

In [37]:
rain.append('water')
rain

['cloudy', 'rainbow', 'temp', 24.5, 'water']

In [38]:
songs = ['romantic',24,7,'daily']
rain.append(songs)
rain

['cloudy', 'rainbow', 'temp', 24.5, 'water', ['romantic', 24, 7, 'daily']]

In [44]:
table_of_2 =[]
for i in range(2,50,2):
    if i > 20:
        break
    table_of_2.append(i)
table_of_2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 2. clear
### Removes all the elements from the list

In [46]:
stationary = ['pen', 'pencil','eraser','marker',10,20]
stationary

['pen', 'pencil', 'eraser', 'marker', 10, 20]

In [48]:
stationary.clear()
stationary

[]

## 3. copy 
### Returns a copy of the list

In [51]:
trees = ['coconut','tulsi','papaya','mushroom','spinach',5.7,2022]
trees

['coconut', 'tulsi', 'papaya', 'mushroom', 'spinach', 5.7, 2022]

In [53]:
my_trees = trees.copy()
my_trees

['coconut', 'tulsi', 'papaya', 'mushroom', 'spinach', 5.7, 2022]

## 4. count
### Returns the number of elements with the specified value

In [110]:
docs = ['Aadhar Card','Pan Card','Election Card','Caste Validity','Caste Cerificate','Aadhar Card']
docs.count('Aadhar Card')

2

In [111]:
nums =[1,5,1,2,3,6,4,2,5,8,7,4,4,6,5,4,5,8,5,4]
nums.count(4)

5

## 5. extend
### Add the elements of a list (or any iterable i.e list, set, tuple, etc.), to the end of the current list

In [112]:
## with tuple
school = [1,2,3,4,5,6,7,8,9,10]
jr_college = ('11th std','12th std',11,12)
school.extend(jr_college)
print(school)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '11th std', '12th std', 11, 12]

In [113]:
## with set
school = [1,2,3,4,5,6,7,8,9,10]
graduation = {'BSC','B.com','Engg','Pharmacy','B.com'}
school.extend(graduation)
print(school)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'BSC', 'Engg', 'Pharmacy', 'B.com']

In [114]:
#### with dictionary
flats = ['1BHK','2BHK','3BHK','House','Home','Villa']
rooms = {'bedroom':3,'kitchen':1,'Hall':1}
toys = (1,2,3,4,5,6)
flats.extend(rooms)
print(flats)

['1BHK', '2BHK', '3BHK', 'House', 'Home', 'Villa', 'bedroom', 'kitchen', 'Hall']

## 6. index
### Returns the index of the element with the specified value

In [115]:
cars = ['Wagnor','Kia','Mercedes','BMW','Tata','Maruti Suzuki']
cars.index('Tata')

4

In [116]:
cars.index('BMW')

3

In [117]:
cars.index('Maruti Suzuki')

5

## 7. insert
### The insert() method inserts the specified value at the specified position.

In [118]:
cards = [1,2,3,4,5,6,7,8,9,10,'joker','J','Queen']
cards.insert(12,'King')
print(cards)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'joker', 'J', 'King', 'Queen']

## 8. pop
### The pop() method removes the element at the specified position.

In [119]:
print(docs)

['Aadhar Card', 'Pan Card', 'Election Card', 'Caste Validity', 'Caste Cerificate', 'Aadhar Card']

In [120]:
docs.pop(2)
print(docs)

['Aadhar Card', 'Pan Card', 'Caste Validity', 'Caste Cerificate', 'Aadhar Card']

In [121]:
docs.pop(-1)
print(docs)

['Aadhar Card', 'Pan Card', 'Caste Validity', 'Caste Cerificate']

## 9. remove
### The remove() method removes the first occurrence of the element with the specified value.

In [131]:
instruments = ['violin','gitar','piono','harmonium','tabla',10,20,30]
instruments

['violin', 'gitar', 'piono', 'harmonium', 'tabla', 10, 20, 30]

In [132]:
instruments.remove('tabla')
instruments

['violin', 'gitar', 'piono', 'harmonium', 10, 20, 30]

In [135]:
instruments.remove(10)
instruments

['violin', 'gitar', 'piono', 'harmonium', 20, 30]

## 10. reverse
### Reverses the order of the list

In [139]:
vacations = ['Bali','Andman','Switzerland','Manali','Kerala']
vacations

['Bali', 'Andman', 'Switzerland', 'Manali', 'Kerala']

In [140]:
vacations.reverse()
vacations

['Kerala', 'Manali', 'Switzerland', 'Andman', 'Bali']

## 11. sort
### Sorts the list

In [141]:
cities = ['Pune','Mumbai','Banglore','Chennai','Delhi']
cities

['Pune', 'Mumbai', 'Banglore', 'Chennai', 'Delhi']

In [142]:
## sort the list in alphabetically 
cities.sort()
cities

['Banglore', 'Chennai', 'Delhi', 'Mumbai', 'Pune']

In [143]:
## sort the list in alphabetically in reverse order
cities.sort(reverse=True)
cities

['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Banglore']

# set

## 1. add
###  The add() method adds an element to the set.

### If the element already exists, the add() method does not add the element.

In [2]:
milk = {'protien','calcium','vitamins','complete meal'}
milk

{'calcium', 'complete meal', 'protien', 'vitamins'}

In [4]:
milk.add('multivitamins')
milk

{'calcium', 'complete meal', 'multivitamins', 'protien', 'vitamins'}

## 2. clear
### 	Removes all the elements from the set

In [5]:
material = {'glass','plastic','gold','magnet','iron'}
material

{'glass', 'gold', 'iron', 'magnet', 'plastic'}

In [6]:
material.clear()
material

set()

## 3. copy
### The copy() method copies the set.

In [12]:
Iot_devices = {'smart watch','smart bicycle','smart bulb'}
print(Iot_devices)

{'smart watch', 'smart bicycle', 'smart bulb'}

In [14]:
smart_gadgets =Iot_devices.copy()
smart_gadgets

{'smart bicycle', 'smart bulb', 'smart watch'}

## 4. difference
### The returned set contains items that exist only in the first set, and not in both sets.

In [16]:
technology = {'AI','ML','NLP','DS','DL'}
LANG = {'AI','C','C++','JAVA','PYTHON'}
print(technology)
print(LANG)

{'NLP', 'ML', 'AI', 'DL', 'DS'}
{'C', 'AI', 'PYTHON', 'C++', 'JAVA'}

In [19]:
technology.difference(LANG)

{'DL', 'DS', 'ML', 'NLP'}

## 5. difference_update
### The difference_update() method removes the items that exist in both sets.

### The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

In [21]:
tea = {'tea leaves','sugar','milk','water'}
coffee = {'coffee beans','water','milk','sugar'}
print(tea)
print(coffee)

{'water', 'sugar', 'tea leaves', 'milk'}
{'water', 'coffee beans', 'milk', 'sugar'}

In [22]:
tea.difference_update(coffee)
print(tea)

{'tea leaves'}

In [25]:
coffee.difference_update(tea)
print(coffee)

{'water', 'coffee beans', 'milk', 'sugar'}

In [26]:
#why?

## 6. discard
### The discard() method removes the specified item from the set.

### This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [27]:
flowers = {'rose','garbera','lily','jasmine','tulip'}
flowers

{'garbera', 'jasmine', 'lily', 'rose', 'tulip'}

In [29]:
flowers.discard('garbera')
flowers

{'jasmine', 'lily', 'rose', 'tulip'}

## 7. intersection
### The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [48]:
marriage = {'guests','shopping','mehendi','haldi','DJ','decoration'}
ceremony = {'guests','shopping','mehendi','decoration'}
birthday = {'decoration','gifts','guests','ballons','cakes','shopping'}
function = marriage.intersection(ceremony,birthday)
function

{'decoration', 'guests', 'shopping'}

## 8. intersection_update
### The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

In [50]:
nums = {1,2,3,4,5,6,7,8,9,10}
even_nums = {2,4,6,8,10}
prime_nums = {1,2,3,5,7}
nums.intersection_update(even_nums,prime_nums)
print(nums)

{2}

## 9. isdisjoint
### The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

In [52]:
social_media = {'facebook','meta','intsa','snapchat'}
search_engines = {'Google','Yahoo','Bing','Wikipedia','facebook'}
social_media.isdisjoint(search_engines)

False

In [53]:
social_media = {'facebook','meta','intsa','snapchat'}
search_engines = {'Google','Yahoo','Bing','Wikipedia'}
social_media.isdisjoint(search_engines)

True