## 1. While loop

### Example - 1

In [15]:
num = 50
while num < 60:
    print(num)
    num += 1

50
51
52
53
54
55
56
57
58
59

### Example - 2

In [1]:
while True:
    user_input = input('Type run to execute the cell:')
    if user_input == 'run':
        break

Type run to execute the cell:run

## 2. For loop

### Example - 1

In [4]:
colour = ('red','blue','orange','grey','green','black')
for c in colour:
    print(c)

red
blue
orange
grey
green
black

### Example - 2

In [39]:
for n in range(2,30,2):
    print(n)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

## 3. if else

### Example - 1

In [10]:
res = 40
if res == 40:
    print('Canditate is Pass')
else:
    print('Candidate is fail')

Canditate is Pass

### 'Example - 2

In [11]:
num1= 50
num2= 100
if num1 == num2:
    print("Both numbers are equal")
else:
    print("Both numbers are not equal")

Both numbers are not equal

## 4. if elif else

### Example - 1

In [36]:
sis_1 = 22
sis_2 = 22
if sis_1 < sis_2:
    print('Sis_1 is elder sister')
elif sis_1 == sis_2:
    print('They are Twins')
else:
    print('Sis_1 is younger sister')

They are Twins

### Example - 2

In [41]:
girl = 28
boy = 27
if girl < boy:
    print('Perfect age for marriage as per rule')
elif girl > boy:
    print("It's optional but mostly happens in love marriage")
else:
    print("It's your choice")

It's optional but mostly happens in love marriage

## 5. User Defined Functions without For loop & if condition

### Example - 1

In [4]:
def address(name, phone,*landmark,Building = 'Amrut Heaven', **area):
    print('********************************************************')
    floor = input('Enter Floor No:')
    flat_no = input('Enter your Flat no:')
    print('********************************************************')
    print('Name:               ',name)
    print('Contact No:         ',phone)
    print('Floor No:           ',floor) 
    print('Flat no:            ',flat_no,)
    print('Landmarks are:      ',landmark)
    print('Building Name:      ',Building)
    print('Area is divided into ',area)
    print('********************************************************')

In [5]:
address('Vrushali',9096399465,'Police_Station', 'Don_Bosco',A1 ='Khadakpada',A2 ='Kalyan',A3 ='Thane')

********************************************************
Enter Floor No:6
Enter your Flat no:601
********************************************************
Name:                Vrushali
Contact No:          9096399465
Floor No:            6
Flat no:             601
Landmarks are:       ('Police_Station', 'Don_Bosco')
Building Name:       Amrut Heaven
Area is divided into  {'A1': 'Khadakpada', 'A2': 'Kalyan', 'A3': 'Thane'}
********************************************************

### Example - 2

In [6]:
def d_mart(cust_name,prod1,prod2,prod3, *total_cost):
    bill = input('Bill is paid or not? ')
    print('Customer_Name        :',cust_name)
    print('Product_1            :',prod1)
    print('Product_2            :',prod2)
    print('Product_3            :',prod3)
    print('Total Payment        :',total_cost)
    print('Bill Paid            :',bill)

In [7]:
d_mart('Reshma','Wow_facewash','Rosewater','bodylotion',189,60,495)

Bill is paid or not? yes
Customer_Name        : Reshma
Product_1            : Wow_facewash
Product_2            : Rosewater
Product_3            : bodylotion
Total Payment        : (189, 60, 495)
Bill Paid            : yes

## 6. User Defined Functions with For loop

### Example -1

In [51]:
def Data_science(tech):
    for t in tech:
        print(t)
    return tech

In [52]:
Data_science('Machine_Learning')

M
a
c
h
i
n
e
_
L
e
a
r
n
i
n
g

'Machine_Learning'

### Example -2

In [53]:
def salary(payment):
    for p in payment:
        print(p)
    return payment

In [57]:
salary('80000')

8
0
0
0
0

'80000'

## 7. User Defined Functions with For loop & if condition

### Example -1

In [2]:
def get_factors():
    num = int(input('Enter the number:'))
    for n in range(1, num + 1):
        if num % n == 0:
            print(n)   
get_factors()

Enter the number:20
1
2
4
5
10
20

###  Example - 2

In [15]:
def get_factorial(num):
    fact =1
    for n in range(1,num+1):
        fact = fact*n
    print('The Factorial of',num,'is',fact)

In [17]:
get_factorial(5)

The Factorial of 5 is 120

## 8. Break

### Example - 1

In [11]:
for i in range(5,50,5):
    if i == 30:
        break
    print(i)

5
10
15
20
25

### Example - 2

In [15]:
user_pass = input('Enter the passward:')
while True:
    if len(user_pass) == 8:
        print('Yor are very close to passward')
    else:
        break
print('Not matching the length of passward')

Enter the passward:1234
Not matching the length of passward

## 9. Continue

### Example -1

In [21]:
for n in range(1,20,3):
    if n <= 10:
        continue
    print(n)

13
16
19

### Example -2

In [27]:
season = "It's Rainy"
for s in season:
    if s == "'":
        continue
    print(s)

I
t
s

R
a
i
n
y

## 10. for loop with in operator

### Example -1

In [45]:
fruits = ('Apple','Strawberry','Grapes','Mango')
for f in fruits:
    print('banana' in fruits)
print('Apple' in fruits)

False
False
False
False
True

### Example -2

In [2]:
cars = ('Toyato','Honda','BMW','Renault','Nissan','Kia')
for car in cars:
    print(car)

Toyato
Honda
BMW
Renault
Nissan
Kia

## 11. for loop with if statement

### Example -1

In [37]:
for i in range(3,31,3):
    if i < 20:
        print(i)

3
6
9
12
15
18

### Example -2

In [4]:
trees = ('Oak','Aspen','Birch','Ash','Willow','Cedar')
for tree in trees:
  print(tree)
  if tree == 'Birch':
    break

Oak
Aspen
Birch

## 12. for loop with not in operator

In [5]:
for word in 'Hello':
    if 'y' not in word:
        print('Not Available')
        break

Not Available