# Chapter No.1 - First Python Programming

## 1.1 Hello World

In [1]:
print('Welcome to the Data science World!!!') # print is a function

Welcome to the Data science World!!!

In [2]:
# If statement has ' then use " for open & close the statement.
print("Vrushali replied to Shivani that John's session is easy to understand.")

Vrushali replied to Shivani that John's session is easy to understand.

In [3]:
# If ' & " then use """ or '''
print("""Subha replied,"John's session is not to my expectation".""")

Subha replied,"John's session is not to my expectation".

In [4]:
# If we have no. of lines then use """ 
print("""Machine learning (ML) is a field of inquiry devoted to understanding and building methods that 'learn',
      that is, methods that leverage data to improve performance on some set of tasks.[1] It is seen as a part of
      artificial intelligence. Machine learning algorithms build a model based on sample data, known as training data, 
      in order to make predictions or decisions without being explicitly programmed to do so.[2] Machine learning 
      algorithms are used in a wide variety of applications, such as in medicine, email filtering, speech recognition, 
      and computer vision, where it is difficult or unfeasible to develop conventional algorithms to perform the needed 
      tasks.[3]""")

Machine learning (ML) is a field of inquiry devoted to understanding and building methods that 'learn',
      that is, methods that leverage data to improve performance on some set of tasks.[1] It is seen as a part of
      artificial intelligence. Machine learning algorithms build a model based on sample data, known as training data,
      in order to make predictions or decisions without being explicitly programmed to do so.[2] Machine learning
      algorithms are used in a wide variety of applications, such as in medicine, email filtering, speech recognition,
      and computer vision, where it is difficult or unfeasible to develop conventional algorithms to perform the needed
      tasks.[3]

In [5]:
print('''"the is called god"''')

"the is called god"

## 1.2 Create a variable

* Index numbers starts from 0 to n in python
* What is variable? The container where we can store the values
* Why Variable? To perform functions, data slicing & Data manipulation & also Data Analysis.

In [6]:
# participants is a variable
participants = ['Aditya','Ajith','Prathima','Satya','Anthony'] #List is one of Data Structure
participants

['Aditya', 'Ajith', 'Prathima', 'Satya', 'Anthony']

In [7]:
len(participants)

5

In [8]:
# Data Slicing
participants[:]

['Aditya', 'Ajith', 'Prathima', 'Satya', 'Anthony']

In [9]:
participants[1:]

['Ajith', 'Prathima', 'Satya', 'Anthony']

In [10]:
# Its works with (n-1)
participants[1:4]

['Ajith', 'Prathima', 'Satya']

In [11]:
# Replacing the data using idex
participants[2] = 'Vrushali'
participants

['Aditya', 'Ajith', 'Vrushali', 'Satya', 'Anthony']

# ============================================================

# Chapter 2 - String & String Methods

### 3 Data Types in Python:

1. Integer - int
2. Float   - float
3. String  - Anything which is enclosed within qoutes.

## 2.1 What is String?

In [12]:
vrushali_avg_marks_1 = 99

In [13]:
type(vrushali_avg_marks_1)

int

In [14]:
vrushali_avg_marks_2 = 99.5

In [15]:
type(vrushali_avg_marks_2)

float

In [16]:
#String
vrushali_avg_marks_3 = '99.5'

In [17]:
type(vrushali_avg_marks_3)

str

## 2.2 Concatenation - Indexing - Slicing

### Concatenation

In [20]:
fname = 'Vrushali'
lname = 'Jadhav'
age   = 25

In [21]:
fname
lname

'Jadhav'

In [22]:
print(fname)
print(lname)

Vrushali
Jadhav

In [23]:
print(fname + ' ' +lname)  # Concatenation

Vrushali Jadhav

In [25]:
#Error
print(fname + ' ' +lname + age)  # Concatenation

TypeError: can only concatenate str (not "int") to str

In [26]:
# To overcome the error
print(fname + ' ' +lname + ' ' +str(age))  # Typecasting

Vrushali Jadhav 25

In [28]:
print(fname,lname,age) # Here comma separated the input. Irrespective of datatypes.

Vrushali Jadhav 25

### Indexing

* Indexing : Just Locating the values
* Slicing : Doing Partitions with the help of range

In [29]:
fname

'Vrushali'

In [30]:
fname[1:5] # Range

'rush'

In [31]:
fname[:-1] 
#fname[0:7]

'Vrushal'

In [32]:
fname[:-3]

'Vrush'

In [33]:
fname[::2]  ## Interval Of 2 with Double ":"

'Vuhl'

In [34]:
fname[::-1] # Reverse

'ilahsurV'

### Slicing

In [35]:
n = 1,2,3,4,5,6,7,8,9,10

In [36]:
type(n)

tuple

In [37]:
n[::4]

(1, 5, 9)

In [38]:
# start with no. 2
n[1::4]

(2, 6, 10)

## 2.3 Manipulate String with Methods

### Terminology Alert:

**Methods/Functions - Similar.** 

1. When anything which is enclosed within () is a function/method.
2. It performs some operation on top of the variable.
3. Function always do some operation in the backend

In [39]:
learner_1 = 'sarath'
learner_2 = 'SHILPA'
learner_3 = '    shine'
learner_4 = '   vrushali    '

In [40]:
print(len(learner_1))
print(len(learner_2))
print(len(learner_3))
print(len(learner_4))

6
6
9
15

In [41]:
str.capitalize(learner_1)

'Sarath'

In [42]:
learner_1.capitalize()

'Sarath'

In [43]:
learner_2.lower()

'shilpa'

In [44]:
learner_3.strip() # or learner.lstrip()

'shine'

In [45]:
learner_3.lstrip()

'shine'

In [46]:
learner_4.upper().strip() # Chain Methods

'VRUSHALI'

In [47]:
learner_4

'   vrushali    '

In [48]:
learner_1 = learner_1.capitalize()
learner_2 = learner_2.lower()
learner_3 = learner_3.lstrip()
learner_4 = learner_4.strip().upper()

In [49]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)

Sarath
shilpa
shine
VRUSHALI

In [50]:
learner_1.casefold() # Parenthesis

'sarath'

In [51]:
learner_4.count('A')

1

# =============================================================

## 2.4 Interact with User Inputs

In [52]:
user_input = input("Password: ")
print('Password starts with',user_input[0])

Password: Shreeja@14
Password starts with S

## 2.5 Get 2 inputs from the user and display it.

In [1]:
user_name = input('Enter your name: ')
user_company = input('Enter your Company name: ')
print('********************************************')
print('My name is',user_name)
print('My Workstation is',user_company)

Enter your name: Vrushali
Enter your Company name: Google
********************************************
My name is Vrushali
My Workstation is Google

In [2]:
print('My name is',user_name, 'My Workstation is',user_company)

My name is Vrushali My Workstation is Google

In [3]:
# Using Escape Operators
print('My name is',user_name, '\nMy Workstation is',user_company)

My name is Vrushali
My Workstation is Google

## 2.6 Streamline the print statement

In [4]:
print('Name - {} and Company Name - {}'.format(user_name,user_company)) # Placeholders

Name - Vrushali and Company Name - Google

In [5]:
print('Name - {} \nCompany Name is {}'.format(user_company,user_name)) #Mistake

Name - Google
Company Name is Vrushali

In [6]:
print('Name - {name} \nCompany Name is {company}'.format(company = user_company,name = user_name)) #Placeholders

Name - Vrushali
Company Name is Google

# =============================================================

## Chapter 3 - Numbers in Python

In [10]:
user_marks = input('Enter your marks:')

print('The marks you entered is',user_marks)

Enter your marks:-100
The marks you entered is -100

In [11]:
type(user_marks)

str

In [12]:
#printing only positive nos only using modulus/absolute vale

user_marks1 = int(input('Enter your marks:'))

print('The marks you entered is',abs(user_marks1))

Enter your marks:-100
The marks you entered is 100

In [14]:
type(user_marks1)

int

# =============================================================

# Chapter 4 - Functions and Loops

### 3 types of Functions:

### 3 types of Functions:

* **Predefined Functions/Builtin functions** - which will get automatically installed into your local machine when we install anaconda navigator.
* **Userdefined functions** - user given functions, according to his own preferences - it is customizable function.
* **Anonymous functions**   - it is a nameless function, which is used for accomplish one operation at once.

### 4.1 Write your Own Functions

In [16]:
#Step1 - Define yoyr function
#Step2 - Call your function

In [18]:
def get_message():
    print('Welcome Back!!')
    print("Let's Rock")

In [19]:
get_message()

Welcome Back!!
Let's Rock

# =============================================================

In [22]:
def perform_addition(num1,num2,num3,num4):  # Arguments
    print(num1+num2+num3+num4)

In [23]:
perform_addition(10,87,110,56) # passing parameters

263

In [26]:
perform_addition(115,809,275,659)

1858

### Position Arguments

In [34]:
def get_details(learner_name,learner_age,batch_no):
    print('Learner Name:',learner_name)
    print('Age         :',learner_age)
    print('Batch No    :',batch_no)

In [35]:
get_details('Prathima',28,17)

Learner Name: Prathima
Age         : 28
Batch No    : 17

In [36]:
def get_details(learner_age,learner_name,batch_no):
    print('Learner Name:',learner_name)
    print('Age         :',learner_age)
    print('Batch No    :',batch_no)

In [37]:
get_details('Prathima',28,17) # Position Matters here

Learner Name: 28
Age         : Prathima
Batch No    : 17

In [38]:
get_details(learner_name ='Vrushali',learner_age = 29,batch_no = 9)

Learner Name: Vrushali
Age         : 29
Batch No    : 9

In [2]:
def get_employee_details(name,age,salary,organization):
    print('***********************************')
    print('Name     :',name)
    print('Age      :',age)
    print('Salary   :',salary)
    print('Workplace:',organization)
    print('***********************************')

In [3]:
get_employee_details('Vrushali',24,100000,'Google')

***********************************
Name     : Vrushali
Age      : 24
Salary   : 100000
Workplace: Google
***********************************

In [4]:
get_employee_details('Shreeja',20,150000,'Google')

***********************************
Name     : Shreeja
Age      : 20
Salary   : 150000
Workplace: Google
***********************************

In [6]:
get_employee_details('John',32, 250000,'Google')

***********************************
Name     : John
Age      : 32
Salary   : 250000
Workplace: Google
***********************************

### Default Arguments

In [14]:
def get_employee_details1(name,age,salary,organization = 'Google'):
    print('***********************************')
    print('Name     :',name)
    print('Age      :',age)
    print('Salary   :',salary)
    print('Workplace:',organization)
    print('***********************************')

In [15]:
get_employee_details1('Vrushali',24,100000)

***********************************
Name     : Vrushali
Age      : 24
Salary   : 100000
Workplace: Google
***********************************

In [16]:
get_employee_details1('Shreeja',20,150000)

***********************************
Name     : Shreeja
Age      : 20
Salary   : 150000
Workplace: Google
***********************************

In [18]:
get_employee_details1('John',32, 250000,'IBM')

***********************************
Name     : John
Age      : 32
Salary   : 250000
Workplace: IBM
***********************************

### Get inputs from the user in an udf

In [21]:
def get_employee_details_2():
    print('***********************************')
    user_name    = input('Enter your name:')
    age          = input('Age            :')
    salary       = input('Salary         :')
    organization = input('Workplace      :')
    print('***********************************')
    print('Name     :',user_name)
    print('Age      :',age)
    print('Salary   :',salary)
    print('Workplace:',organization)
    print('***********************************')

In [22]:
get_employee_details_2()

***********************************
Enter your name:Subhash Jadhav
Age            :32
Salary         :150000
Workplace      :Indian Railway
***********************************
Name     : Subhash Jadhav
Age      : 32
Salary   : 150000
Workplace: Indian Railway
***********************************

In [24]:
get_employee_details_2() # we can use same function for different database

***********************************
Enter your name:Vrushali Jadhav
Age            :28
Salary         :200000
Workplace      :Google
***********************************
Name     : Vrushali Jadhav
Age      : 28
Salary   : 200000
Workplace: Google
***********************************

### Variable-Length Aruments

In [29]:
def get_employee_details_3(name,age,salary,organization):
    print('***********************************')
    print('Name     :',name)
    print('Age      :',age)
    print('Salary   :',salary)
    print('Workplace:',organization)
    print('***********************************')

In [27]:
## Error for understanding

get_employee_details_3('Ajith',25,35000,'TCS','Microsoft','DELL')

TypeError: get_employee_details_3() takes 4 positional arguments but 6 were given

In [31]:
def get_employee_details_4(name,age,salary,*organization):
    print('***********************************')
    print('Name     :',name)
    print('Age      :',age)
    print('Salary   :',salary)
    print('Workplace:',organization)
    print('***********************************')

In [32]:
get_employee_details_4('Ajith',25,35000,'TCS','Microsoft','DELL')

***********************************
Name     : Ajith
Age      : 25
Salary   : 35000
Workplace: ('TCS', 'Microsoft', 'DELL')
***********************************

### Keyword - Argument

In [33]:
def get_employee_details_5(name,age,salary,**organization):
    print('***********************************')
    print('Name     :',name)
    print('Age      :',age)
    print('Salary   :',salary)
    print('Workplace:',organization)
    print('***********************************')

In [34]:
##Error
get_employee_details_5('Ajith',25,35000,'TCS','Microsoft','DELL')

TypeError: get_employee_details_5() takes 3 positional arguments but 6 were given

In [35]:
get_employee_details_5('Ajith',25,35000,compnay_1 =' TCS',company_2 = 'Microsoft',company_3 = 'DELL')

***********************************
Name     : Ajith
Age      : 25
Salary   : 35000
Workplace: {'compnay_1': ' TCS', 'company_2': 'Microsoft', 'company_3': 'DELL'}
***********************************

### Variable-length and Keyword Argument

In [37]:
def get_employee_details_6(name,age,*salary,**organization):
    print('***********************************')
    print('Name     :',name)
    print('Age      :',age)
    print('Salary   :',salary)
    print('Workplace:',organization)
    print('***********************************')

In [38]:
get_employee_details_6('Vrushali',25,35000,45000,150000,compnay_1 =' TCS',company_2 = 'Microsoft',company_3 = 'DELL')

***********************************
Name     : Vrushali
Age      : 25
Salary   : (35000, 45000, 150000)
Workplace: {'compnay_1': ' TCS', 'company_2': 'Microsoft', 'company_3': 'DELL'}
***********************************

In [44]:
def perform_multiplication(num1,num2):
    return num1*num2  # Termination point

In [45]:
perform_multiplication(56,89)

4984

### A function can have multiple print function but not multiple return function bcz it will terminate the program

In [48]:
def perform_multiplication(num1,num2):
    print(num1)
    print(num1*num2)
    return num1
    return num1*num2

In [49]:
perform_multiplication(56,89) # Difference betweeen print & return function

56
4984

56

### Note:

* Here return(num1) terminate the udf so only 56 is out of the loop.
* print function only print the data which it have while using udf
* return function impact the original dataset

## 4.2 Run in Circles

In [50]:
1,2,3,4,5,6,7,8,9,10

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [57]:
# printing 1 to 10

for i in range(1,11,1):    
    print(i)

1
2
3
4
5
6
7
8
9
10

In [58]:
## printing odd nos. starting from 1

for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [60]:
## printing sum nos.starting from 0

for i in range (0,11,2):
    print(i)

0
2
4
6
8
10

### 4.3 Create a udf with for loop

In [73]:
def get_alphabets(name):
    for i in name:
        print('My task is just to Display.....')
        print(i)
    return "Function Terminated"

In [74]:
get_alphabets('Vrushali')

My task is just to Display.....
V
My task is just to Display.....
r
My task is just to Display.....
u
My task is just to Display.....
s
My task is just to Display.....
h
My task is just to Display.....
a
My task is just to Display.....
l
My task is just to Display.....
i

'Function Terminated'

# =============================================================

# 5. Conditional Logics

## 5.1 Compare Values

In [75]:
5 == '5'

False

In [76]:
5 == 5  # Equal to Operator

True

In [78]:
6 != 6 # NOT equal to operator

False

In [79]:
10/5  #Gives you quotient

2.0

In [80]:
11%2 # remainder

1

In [81]:
53%2 == 0 # here remainder is no 0 so false

False

## Add some logics

In [82]:
machine_learning = 98
deep_learning    = 96
nlp              = 95

In [83]:
machine_learning > deep_learning

True

In [84]:
nlp > deep_learning

False

### >>>>> Different Operators in Python <<<<<<<<<<

##### AND Operator - will return True, only if both conditions is True.
##### OR Operator - will return True if anyone condition is True.
##### IN operator - we use to check if that particular word is available in my data.
##### NOT IN operator - we use to check if that particular word is not available in my data.

In [86]:
machine_learning > deep_learning and nlp > deep_learning

False

In [87]:
machine_learning > deep_learning or nlp > deep_learning

True

In [92]:
feedback = 'Python session with Daily Tasks is getting me better everyday'
'better' in feedback

True

In [93]:
'better' not in feedback

False

## 5.3 Control the flow of program

In [95]:
user_password = input('Enter your Password:')

if len(user_password) < 5:
    print('WEAK PASSWORD')
else:
    print('STRONG PASSWORD')

Enter your Password:VRUSH
STRONG PASSWORD

In [96]:
user_password = input('Enter your Password:')

if len(user_password) <= 5:
    print('WEAK PASSWORD')
else:
    print('STRONG PASSWORD')

Enter your Password:VRUSH
WEAK PASSWORD

In [98]:
user_password = input('Enter your Password:')

if len(user_password) <= 5:
    print('WEAK PASSWORD')
elif 6 < len(user_password) <=10:
    print('MODERATE PASSWORD')
else:
    print('STRONG PASSWORD')

Enter your Password:Shreeja@14
MODERATE PASSWORD

## 5.4 Break out of the pattern

In [99]:
for i in range (1,31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [101]:
for i in range (1,31):
    if i == 5:
        break #Abrupt
    print(i)

1
2
3
4

In [103]:
for i in range(1,31):
    if i == 5 or i == 10:
        continue # ignore
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [108]:
while True:
    
    user_input = input('Type q to quit this window:')

    if user_input.lower() == 'q':
        break

Type q to quit this window:A
Type q to quit this window:SD
Type q to quit this window:g
Type q to quit this window:yt6
Type q to quit this window:Q

# =============================================================