# 4 Python Data Structures:

1. List
2. Sets
3. Tuple
4. Dictionary

# 1. List

* 1Dimentional
* Heterogenous
* Allows duplicate values
* Mutable
* Indexable and sliceable

In [2]:
empty_cart_1 = []

In [3]:
type(empty_cart_1)

list

In [6]:
item_to_buy_1 = ['Apple','Banana','Orange','Grapes','Kiwi','strawberry','Oats','Milk','Apple','Kiwi']
item_to_buy_1

['Apple',
 'Banana',
 'Orange',
 'Grapes',
 'Kiwi',
 'strawberry',
 'Oats',
 'Milk',
 'Apple',
 'Kiwi']

In [7]:
type(item_to_buy_1)

list

In [8]:
item_to_buy_1[2] = 'Almonds'  #Mutable/changable

In [9]:
item_to_buy_1

['Apple',
 'Banana',
 'Almonds',
 'Grapes',
 'Kiwi',
 'strawberry',
 'Oats',
 'Milk',
 'Apple',
 'Kiwi']

In [10]:
item_to_buy_1[:-2]

['Apple', 'Banana', 'Almonds', 'Grapes', 'Kiwi', 'strawberry', 'Oats', 'Milk']

In [24]:
item_to_buy_1.append('Orange')
item_to_buy_1

['Apple',
 'Banana',
 'Almonds',
 'Grapes',
 'Kiwi',
 'strawberry',
 'Oats',
 'Milk',
 'Apple',
 'Kiwi',
 'Orange']

In [25]:
scores = []

for i in item_to_buy_1:
    scores.append(i)
    
scores

['Apple',
 'Banana',
 'Almonds',
 'Grapes',
 'Kiwi',
 'strawberry',
 'Oats',
 'Milk',
 'Apple',
 'Kiwi',
 'Orange']

In [27]:
function = []

num = 0
for i in range(1,11):
    num = num + i*2
    function.append(num)

function

[2, 6, 12, 20, 30, 42, 56, 72, 90, 110]

# 2. Sets

* 1D
* Heterogenous
* Mutable
* Not allows duplicate values
* Not Indexable and Not Slicaeable

In [11]:
# display of empty set

empty_cart_2 = set()

In [12]:
type(empty_cart_2)

set

In [17]:
# Not allowing duplicates

item_to_buy_2 = {'Apple','Banana','Orange','Grapes','Kiwi','strawberry','Oats','Milk','Apple','Kiwi'}
item_to_buy_2

{'Apple', 'Banana', 'Grapes', 'Kiwi', 'Milk', 'Oats', 'Orange', 'strawberry'}

In [18]:
# Idexing is not possible

item_to_buy_2[2]

TypeError: 'set' object is not subscriptable

In [19]:
# Slicing also not accesable

empty_cart_2[2:]

TypeError: 'set' object is not subscriptable

In [20]:
# Mutable but Error

item_to_buy_2[2] = 'Oats'

TypeError: 'set' object does not support item assignment

In [21]:
## Actual method 

item_to_buy_2.add('Oats')
item_to_buy_2

{'Apple', 'Banana', 'Grapes', 'Kiwi', 'Milk', 'Oats', 'Orange', 'strawberry'}

In [23]:
item_to_buy_2.clear()
item_to_buy_2

set()

# 3.Tuple

* 1D
* Heterogenous
* Allows Duplicate values
* Immutable
* Indexable and Slicable

In [28]:
# Display of tuple

empty_cart_3 = ()

In [29]:
type(empty_cart_3)

tuple

In [30]:
# Not allowing duplicates 
# Default data structure in python
# Allows duplicate values

item_to_buy_3 = 'Apple','Banana','Orange','Grapes','Kiwi','strawberry','Oats','Milk','Apple','Kiwi'
item_to_buy_3

('Apple',
 'Banana',
 'Orange',
 'Grapes',
 'Kiwi',
 'strawberry',
 'Oats',
 'Milk',
 'Apple',
 'Kiwi')

In [31]:
# Indexable

item_to_buy_3[-5]

'strawberry'

In [32]:
item_to_buy_3[-6:-1]

('Kiwi', 'strawberry', 'Oats', 'Milk', 'Apple')

In [35]:
item_to_buy_3[4:-1]

('Kiwi', 'strawberry', 'Oats', 'Milk', 'Apple')

In [36]:
# Error

item_to_buy_3[-4] = 'Cashews'

TypeError: 'tuple' object does not support item assignment

In [38]:
item_to_buy_3.count('Apple')

2

# 4. Dictionary:

* 2D
* Heterogenous
* Allows duplicate values but not keys
* Mutable
* Not Indexable and not Slicable

In [39]:
#Display of Dict

empty_cart_4 = {}

In [40]:
type(empty_cart_4)

dict

In [44]:
# Heterogenous

item_to_buy_4 = {'Apple':'3kg',
                 'Orange':'2kg'}
item_to_buy_4

{'Apple': '3kg', 'Orange': '2kg'}

In [42]:
item_to_buy_4.keys()

dict_keys(['Apple', 'Orange'])

In [45]:
item_to_buy_4.values()

dict_values(['3kg', '2kg'])

In [47]:
# Dict may have duplicate values but not the keys 
# * If there is a duplicate keys it will overwrite it

item_to_buy_4a = {'Apple':'3kg',
                 'Apple':'2kg'}
item_to_buy_4a

{'Apple': '2kg'}

## Why Dict?

In [50]:
learner_details = {'Name'   :['Krisha','Shreeja'],
                   'BatchNo': [13,13]             }
learner_details

{'Name': ['Krisha', 'Shreeja'], 'BatchNo': [13, 13]}

In [51]:
import pandas as pd

In [52]:
pd.DataFrame(data = learner_details)

      Name  BatchNo
0   Krisha       13
1  Shreeja       13

By using Dictionary we can create dataframe. so dict is necessary.

In [53]:
# Mutable, can be added, removed or changed

learner_details

{'Name': ['Krisha', 'Shreeja'], 'BatchNo': [13, 13]}

In [59]:
learner_details['Sharvi'] = 14
learner_details

{'Name': ['Krisha', 'Shreeja'], 'BatchNo': [13, 13], 'Sharvi': 14}

# THE END